
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body
{ font-family: monospace;
  height:100%;
  width:100%;
  /* background-color: rgb(green); */
}
aside{font-size: 20px;}
h3{margin-left: 40%; }
nav{
      display: inline-table;
}

nav ul {


}

nav ul li{display: inline;

          color: black;


}

nav ul li a{text-decoration: none;
            font-size: 20px;

            color: black;


}

nav ul li a:hover{
  background-color: yellow;
}
h1{margin-left: 30px;}


.container {
    display: grid;
    grid-template-columns: 31.3% 31.3% 31.3%;
    grid-template-rows: 31.3% 31.3%;
    float: left;
    margin: none;
}
